#contenidoMain > h2{
    margin-left: 1em;
}

#contenidoMain > div > h3{
    margin-left: 2em;
}

#contenidoMain > div > p{
    margin-left: 3em;
    width: 90%;
    text-align: justify;
}

.horizontal{
    width: 80%;
    height: 450px !important;
    margin-left: 7em;
    border: 1px solid black;
}

.horizontalPocha{
    width: 80%;
    height: 250px !important;
    margin-left: 7em;
}