<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C.D. Estadilla - Calendario</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/calendario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../js/calenadario.js"></script>
</head>
<body>
    <header>
        <a href="../index.html">
            <img src="../img/escudo.png" id="escudoHeader">
            <h1>C.D. Estadilla</h1>        
        </a>
        <nav>
            <a href="../index.html"><div>INICIO</div></a>
            <a href="calendario.html"><div>CALENDARIO</div></a>
            <a href="plantilla.html"><div>PLANTILLA</div></a>
            <a href="clasificacion.html"><div>CLASIFICACIÓN</div></a>
            <a href="historia.html"><div>NUESTRA HISTORIA</div></a>
            <a href="contacto.html"><div>CONTACTO</div></a>
        </nav>
    </header>
    <main>
        <aside id="asideIzq">

        </aside>
        <div id="contenidoMain">
            <h2>Pretemporada</h2>
            <h3>Próximos partidos:</h3>
            <div id="partidos"></div>
        </div>
        
        <aside id="asideDer">

        </aside>

    </main>
    <footer>
        <div>
            <span>Estadilla</span>
            <span>Pl. Romeo 7-3</span>
            <a href="mailto:clubdeportivoestadilla@gmail.com">clubdeportivoestadilla@gmail.com</a>
        </div>
        <div>      
        </div>
        <div>
            <a href="https://www.instagram.com/cd_estadilla/" target="_blank">
                <i style="font-size:20px" class="fa-brands fa-instagram"></i>
                <span>@cd_estadilla</span>
            </a>     
            <a href="https://m.facebook.com/profile.php?id=100043413117140&name=xhp_nt__fb__action__open_user" target="_blank">
                <i style="font-size:18px" class="fa-brands fa-facebook"></i>
                <span>CD Estadilla</span>
            </a>
            <a href="https://www.cdestadilla.es/" target="_blank">
                <i style="font-size:20px" class="fa-solid fa-globe"></i>
                <span>www.cdestadilla.es</span>
            </a>  
        </div>
    </footer>
</body>
</html>