<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C.D. Estadilla - Clasificación</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <a href="../index.html">
            <img src="/img/escudo.png" id="escudoHeader">
            <h1>C.D. Estadilla</h1>        
        </a>
        <nav>
            <a href="../index.html"><div>INICIO</div></a>
            <a href="calendario.html"><div>CALENDARIO</div></a>
            <a href="plantilla.html"><div>PLANTILLA</div></a>
            <a href="clasificacion.html"><div>CLASIFICACIÓN</div></a>
            <a href="historia.html"><div>NUESTRA HISTORIA</div></a>
            <a href="contacto.html"><div>CONTACTO</div></a>
        </nav>
    </header>
    <main>
        <aside id="asideIzq">

        </aside>
        <div id="contenidoMain">
            <div id="portada">
                <img src="/img/plantillaPortada.jpg" id="imgPortada">
                <p>Con nusatros no toz la chugez</p>
            </div>

            <div id="ultimasNoticias">
                <h2>Últimas Noticias</h2>
                <div class="noticia">
                    <h4>¡Nuevo entrenador en nuestras filas!</h4>
                    <div>
                        <img src="/img/fichajeAntonioCastillo.jpg">
                        <p>Con vistas a la nueva clasificacion 2024/2025, el club ha decidido incorporar a Antonio Castillo como el nuevo entrenador del equipo.
                            Desde la directiva del club, queremos dar una cálida bienvenida a Antonio Castillo. Estamos convencidos de que su vasta experiencia, dedicación y pasión por el fútbol serán elementos clave para llevar a nuestro equipo a nuevos éxitos. Antonio tiene mucha trayectoria en esta categoría y estamos entusiasmados por ver cómo su visión y habilidades contribuirán al crecimiento y desarrollo de nuestro club.
                            Asimismo, deseamos que Antonio se sienta rápidamente parte de la familia del Club Deportivo Estadilla. Sabemos que contará con el apoyo incondicional de nuestros jugadores, directiva y, por supuesto, de todos nuestros seguidores.
                            Queremos aprovechar esta ocasión para reiterar nuestro agradecimiento a todos los miembros de la comunidad del Club Deportivo Estadilla por su continuo apoyo. Estamos seguros de que, con Antonio Castillo al frente, nos esperan grandes momentos y retos apasionantes en la próxima clasificacion. ¡Bienvenido, Antonio, y mucho éxito en esta nueva etapa!
                            </p>
                    </div>
                </div>
            </div>
            <br>
            <br>  
        </div>
        <aside id="asideDer">

        </aside>

    </main>
    <footer>
        <div>
            <span>Estadilla</span>
            <span>Pl. Romeo 7-3</span>
            <a href="mailto:clubdeportivoestadilla@gmail.com">clubdeportivoestadilla@gmail.com</a>
        </div>
        <div>      
        </div>
        <div>
            <a href="https://www.instagram.com/cd_estadilla/" target="_blank">
                <i style="font-size:20px" class="fa-brands fa-instagram"></i>
                <span>@cd_estadilla</span>
            </a>     
            <a href="https://m.facebook.com/profile.php?id=100043413117140&name=xhp_nt__fb__action__open_user" target="_blank">
                <i style="font-size:18px" class="fa-brands fa-facebook"></i>
                <span>CD Estadilla</span>
            </a>
            <a href="https://www.cdestadilla.es/" target="_blank">
                <i style="font-size:20px" class="fa-solid fa-globe"></i>
                <span>www.cdestadilla.es</span>
            </a>  
        </div>
    </footer>
</body>
</html>