<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C.D. Estadilla - Historia</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/historia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <a href="../index.html">
            <img src="../img/escudo.png" id="escudoHeader">
            <h1>C.D. Estadilla</h1>        
        </a>
        <nav>
            <a href="../index.html"><div>INICIO</div></a>
            <a href="calendario.html"><div>CALENDARIO</div></a>
            <a href="plantilla.html"><div>PLANTILLA</div></a>
            <a href="clasificacion.html"><div>CLASIFICACIÓN</div></a>
            <a href="historia.html"><div>NUESTRA HISTORIA</div></a>
            <a href="contacto.html"><div>CONTACTO</div></a>
        </nav>
    </header>
    <main>
        <aside id="asideIzq">

        </aside>
        <div id="contenidoMain">
            <h2>Historia del CD Estadilla</h2>
            <div>
                <h3>Fundación del club</h3>
                <p>El Club Deportivo Estadilla, conocido cariñosamente como CD Estadilla, 
                    fue fundado en el 1928. <br>Desde sus inicios, el club ha sido 
                    una parte integral de la comunidad local, promoviendo el deporte y los 
                    valores del trabajo en equipo y el esfuerzo.
                </p>
                <img class="horizontal" src="../img/primeraestadilla.jpg">
            </div>
            <div>
                <h3>Ascenso a la Tercera División</h3>
                <p>Uno de los hitos más importantes en la historia del CD Estadilla fue su ascenso
                     a la Tercera División.<br> Este logro se produjo en 1986, después de
                      una temporada memorable que culminó en la celebración de toda la comunidad.<br><br>
                       Llegar a la Tercera División no solo fue un reconocimiento al talento y la
                        dedicación de los jugadores y el cuerpo técnico, sino también un reflejo
                         del apoyo incondicional de nuestros seguidores.<br><br>

                    Durante su tiempo en la Tercera División, el CD Estadilla compitió con algunos
                     de los mejores equipos de la región, demostrando siempre su pasión y compromiso
                      con el deporte. <br><br>Esta etapa marcó un antes y un después en la historia del club,
                       dejando una huella imborrable en la memoria de todos los que formaron parte de
                        este emocionante capítulo.
                </p>
                <img class="horizontal" src="../img/jugadorestercera.jpg">
            </div>
            <div>
                <h3>Monty y su Gran Aventura en el Cine</h3>
                <p>Entre los muchos jugadores talentosos que han pasado por el CD Estadilla, uno de 
                    los más destacados es Mariano Badía, conocido por todos como Monty.<br> Monty no solo
                     se destacó en el campo con su habilidad y dedicación, sino que también dejó su huella
                      fuera de él al protagonizar una película.

                    La película, titulada "La Gran Aventura", narra la historia del club desde sus inicios y
                     habla de todos sus hitos, pasando desde los momentos más bajos del club hasta el gran ascenso a tercera. <br><br>
                    Monty interpretó el papel principal, demostrando su versatilidad y talento más allá del fútbol.
                     Este proyecto cinematográfico fue recibido con entusiasmo tanto por los seguidores del club 
                     como por la comunidad en general, quienes vieron en Monty una fuente de inspiración y orgullo.<br><br>
                    
                    La incursión de Monty en el cine es un testimonio de cómo el CD Estadilla no solo ha sido 
                    una cuna de talentos deportivos, sino también un lugar donde se fomentan y celebran diversas
                     formas de expresión y logros personales.</p>
                <img class="horizontalPocha" src="../img/granaventura.PNG"><br><br><br>
            </div>
        </div>
        <aside id="asideDer">

        </aside>

    </main>
    <footer>
        <div>
            <span>Estadilla</span>
            <span>Pl. Romeo 7-3</span>
            <a href="mailto:clubdeportivoestadilla@gmail.com">clubdeportivoestadilla@gmail.com</a>
        </div>
        <div>      
        </div>
        <div>
            <a href="https://www.instagram.com/cd_estadilla/" target="_blank">
                <i style="font-size:20px" class="fa-brands fa-instagram"></i>
                <span>@cd_estadilla</span>
            </a>     
            <a href="https://m.facebook.com/profile.php?id=100043413117140&name=xhp_nt__fb__action__open_user" target="_blank">
                <i style="font-size:18px" class="fa-brands fa-facebook"></i>
                <span>CD Estadilla</span>
            </a>
            <a href="https://www.cdestadilla.es/" target="_blank">
                <i style="font-size:20px" class="fa-solid fa-globe"></i>
                <span>www.cdestadilla.es</span>
            </a>  
        </div>
    </footer>
</body>
</html>